{{layout "org.wso2.uuf.base.main"}}

{{#fillZone "content"}}
    {{#if processInstanceData}}
        <div class="col-md-8">
            <h2>Process Instance Info</h2>
            <br />
        </div>

        <div class="panel panel-default">
            <div class="panel-body">
                process Id : {{processInstanceData.process-def-id}}
                <br />
                process Instance Id : {{processInstanceData.process-instance-id}}
                <br />
            </div>
        </div>
    {{else}}
        <div class="col-md-8">
            <h2>Error Message</h2>
            <br />
        </div>
        <div class="panel panel-default">
            <div class="panel-body">
                {{error-message}}
            </div>
        </div>
    {{/if}}
{{/fillZone}}