{{layout "org.wso2.uuf.base.main"}}
{{title @app.config.appName " | " @pathParams.id}}
{{#fillZone "content"}}
    {{css "css/bpmn-explorer.css"}}
    {{#if processInstanceData}}
        <div class="process-instance-info">
            <div class="panel panel-default">
                <div class="panel-heading">Process Instance Info</div>
                <div class="panel-body">
                    process Id : {{processInstanceData.process-def-id}}
                    <br />
                    process Instance Id : {{processInstanceData.process-instance-id}}
                    <br />
                </div>
            </div>
        </div>
    {{else}}
        <div class="process-instance-info">
            <div class="panel panel-default">
                <div class="panel-heading">Error Message</div>
                <div class="panel-body">
                    {{error-message}}
                </div>
            </div>
        </div>
    {{/if}}
{{/fillZone}}